<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="logs/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Targets.Seq"/>
  </extensions>
  <!-- the targets to write to -->
  <targets>

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />

    <target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000"  >
      <target xsi:type="Seq" serverUrl="http://127.0.0.1:5341" apiKey="wtbeq45fxl5QLee7ftk4">
        <property name="ThreadId" value="${threadid}" as="number" />
        <property name="Environment" value="Staging" />
        <property name="Application" value="MyRepository演示" />
        <property name="Logger" value="${logger}" />
        <property name="IP" value="${aspnet-request-ip}" />
        <property name="Url" value="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true:IncludeScheme=true}" />
        <property name="Code" value="${aspnet-response-statuscode}" />
        <property name="stacktrace" value="${onexception:inner=${stacktrace}}"/>
      </target>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="seq" final="true" />

    <logger name="*" minlevel="Trace" writeTo="seq" />
  </rules>
</nlog>