@model MyNetCore.Model.CodeGenerate.EntityPropertys
@{
    Layout = null;
}
/**
*┌──────────────────────────────────────────────────────────────┐
*│　描    述：@(Model.ModelDesc)Edit页面
*│　作    者：@Model.Author
*│　版    本：1.0 使用Razor引擎自动生成
*│　创建时间：@Model.GeneratorTime
*└──────────────────────────────────────────────────────────────┘
*/

<template>
    <div>
        <page-main :title="pageTitle">
            <el-form v-loading="formLoading" ref="formMain" :model="formData" status-icon :rules="formValidateRules" label-width="140px" class="form-edit">
                <el-row v-show="false">
                    <el-col>
                        <el-input type="hidden" v-model="formData.ImagePath"></el-input>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="10">

                        <el-form-item label="标题" prop="Title">
                            <el-input type="text" v-model="formData.Title" clearable placeholder="请输入"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="10">
                        <el-form-item label="性别" prop="Sex">
                            <el-select v-model="formData.Sex" placeholder="请选择">
                                <el-option v-for="item in sexOptions" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="20">
                        <el-form-item label="图片">
                            <image-upload :url.sync="formData.ImagePathFull" :data="{'tag':'images'}" @@on-success="imageUploadSuccess" />
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="10">
                        <el-form-item label="状态" prop="Status">
                            <el-switch v-model="formData.Status" active-text="启用" inactive-text="禁用">
                            </el-switch>
                        </el-form-item>
                    </el-col>
                    <el-col :span="10">
                        <el-form-item label="数量" prop="Num">
                            <el-input type="text" v-model="formData.Num" clearable placeholder="请输入"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="10">
                        <el-form-item label="可空数字" prop="Num2">
                            <el-input type="text" v-model="formData.Num2" clearable placeholder="请输入"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="10">
                        <el-form-item label="双精度" prop="ValueD">
                            <el-input type="text" v-model="formData.ValueD" clearable placeholder="请输入"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="10">
                        <el-form-item label="金额" prop="ValueDe">
                            <el-input type="text" v-model="formData.ValueDe" clearable placeholder="请输入">
                                <template slot="prepend">
                                    ￥
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="10">
                        <el-form-item label="日期" prop="Date1">
                            <el-date-picker v-model="formData.Date1" type="date" value-format="yyyy-MM-dd" :default-value="new Date()" placeholder="选择">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="10">
                        <el-form-item label="日期时间" prop="Date2">
                            <el-date-picker v-model="formData.Date2" type="datetime" value-format="yyyy-MM-dd HH:mm:ss" :default-value="new Date()" placeholder="选择">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="10">
                        <el-form-item label="可空时间" prop="Date3">
                            <el-date-picker v-model="formData.Date3" type="datetime" value-format="yyyy-MM-dd HH:mm:ss" :default-value="new Date()" placeholder="选择">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="20">
                        <el-form-item label="描述" prop="Remark">
                            <el-input type="textarea" v-model="formData.Remark" :autosize="{ minRows: 3, maxRows: 5}" maxlength="200" show-word-limit clearable placeholder="请输入"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="20">
                        <el-form-item label="富文本" prop="HtmlText">
                            <editor v-model="formData.HtmlText" />
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="20">
                        <el-form-item label="图片列表">
                            <images-upload :files="formData.ImageList" @@on-success="imageListUploadSuccess" />
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="10">
                        <el-form-item label="附件">
                            <file-upload :files="formData.Attachs" @@on-success="attachUploadSuccess" />
                        </el-form-item>
                    </el-col>
                </el-row>

            </el-form>
            
        </page-main>

        <fixed-action-bar>
            <el-button icon="el-icon-check" type="primary" @@click="saveFormData()" v-if="!formLoading">保存</el-button>
            <el-button icon="el-icon-back" @@click="goBack()">返回</el-button>
        </fixed-action-bar>
    </div>
</template>

<script>
import { apiGet@(Model.ModelName)Info, apiModify@(Model.ModelName)Info } from "@@/api/模块名称/@(Model.ModelVariableName)";

export default {
    data() {
        return {
            id: 0,
            pageTitle: "添加",
            formData: {},
            formLoading: true,
            //表单验证
            formValidateRules: {
                Title: [
                    { required: true, message: "请输入标题", trigger: "blur" },
                    { min: 1, max: 30, message: "标题长度范围在1-30之间" },
                ],
                Sex: [{ required: true, message: "请选择", trigger: "change" }],
                Num: [
                    { required: true, message: "请输入", trigger: "blur" },
                    { pattern: this.$global.RegEx_Number, message: "只能输入正整数" },
                ],
                ValueDe: [
                    { required: true, message: "请输入", trigger: "blur" },
                    { pattern: this.$global.RegEx_Money, message: "只能输入金额" },
                ],
            },
            sexOptions: [
                {
                    value: 0,
                    label: "未知",
                },
                {
                    value: 1,
                    label: "男",
                },
                {
                    value: 2,
                    label: "女",
                },
            ],

        };
    },
    created() {
        this.route = this.$route.query;
        if (this.route.id) this.id = this.$base64.DeCode(this.route.id);
        if (this.id < 0) this.goBack();

        if (this.id > 0) this.pageTitle = "编辑";

        this.loadFormData();
    },
    methods: {
        //加载表单数据
        loadFormData() {
            this.formLoading = true;
            apiGet@(Model.ModelName)Info(this.id)
                .then((res) => {
                    this.formLoading = false;
                    this.formData = res.data || {};
                    if (this.formData.ImagePath) {
                        this.imageWebPath = process.env.VUE_APP_Attach_ROOT + this.formData.ImagePath;
                    }
                    if (this.formData.Attachs == null) {
                        this.formData.Attachs = [];
                    }
                })
                .catch(() => {
                    this.formLoading = false;
                });
        },
        saveFormData() {
            this.$refs.formMain.validate((valid) => {
                if (valid) {
                    this.formLoading = true;
                    // let postData = JSON.parse(JSON.stringify(this.formData)); //对象拷贝
                    // postData.Items = this.dynamicFormData.dynamicFormItems || [];
                    apiModify@(Model.ModelName)Info(this.formData)
                        .then((res) => {
                            this.formLoading = false;
                            if (res.code === 200) {
                                this.$message.success("保存成功");
                                this.goBack();
                            } else {
                                this.$message.error(res.msg);
                            }
                        })
                        .catch(() => {
                            this.formLoading = false;
                        });
                } else {
                    this.$message.warning("请检查表单信息是否填写完整");
                }
            });
        },
        goBack() {
            this.$router.push({
                path: "index",
            });
        },
        //上传
        imageUploadSuccess(res) {
            if (res.code === 200) {
                if ((res.data || []).length > 0) {
                    this.formData.ImagePathFull = res.data[0].FileWebPath;
                    this.formData.ImagePath = res.data[0].FilePath;
                } else {
                    this.$message.error("上传成功，但是没有返回上传后的文件");
                }
            } else {
                this.$message.error(res.msg);
            }
        },
        imageListUploadSuccess(res, file) {
            console.log(res);
            if (res.code === 200) {
                if ((res.data || []).length > 0) {
                    this.formData.ImageList.push({
                        FileExt: res.data[0].FileExt,
                        FileName: res.data[0].FileName,
                        FilePath: res.data[0].FilePath,
                        FileSize: res.data[0].FileSize,
                        FileType: res.data[0].FileType,
                        FileWebPath: res.data[0].FileWebPath,
                        name: res.data[0].FileSourceName,
                        url: res.data[0].FileWebPath,
                    });
                } else {
                    this.$message.error("上传成功，但是没有返回上传后的文件");
                }
            } else {
                this.$message.error(res.msg);
                this.formData.ImageList.pop();
            }
        },
        attachUploadSuccess(res, file) {
            if (res.code === 200) {
                if ((res.data || []).length > 0) {
                    this.formData.Attachs.push({
                        FileExt: res.data[0].FileExt,
                        FileName: res.data[0].FileName,
                        FilePath: res.data[0].FilePath,
                        FileSize: res.data[0].FileSize,
                        FileType: res.data[0].FileType,
                        FileWebPath: res.data[0].FileWebPath,
                        name: res.data[0].FileSourceName,
                        url: res.data[0].FileWebPath,
                    });
                } else {
                    this.$message.error("上传成功，但是没有返回上传后的文件");
                }
            } else {
                this.$message.error(res.msg);
                this.formData.Attachs.pop();
            }
        },
    },
};
</script>