@model MyNetCore.Model.CodeGenerate.EntityPropertys
@{
    Layout = null;
}
/**
*┌──────────────────────────────────────────────────────────────┐
*│　描    述：@(Model.ModelDesc)Index页面
*│　作    者：@Model.Author
*│　版    本：1.0 使用Razor引擎自动生成
*│　创建时间：@Model.GeneratorTime
*└──────────────────────────────────────────────────────────────┘
*/

<template>
    <div>
        <!-- <page-header title="数据列表" content="" /> -->

        <page-main>
            <div class="table-tool">
                <ul class="filter-container">
                    <!-- <li class="filter-item">
                        <label>标题</label>
                        <el-input v-model="pageQuery.Title" size="small" clearable placeholder="请输入" @@change="pageQuery.PageInfo.PageIndex=1;getPageList()"></el-input>
                    </li> -->
                    <li class="filter-item">
                        <label>创建日期</label>
                        <el-date-picker v-model="searchRangeDate" size="small" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" value-format="yyyy-MM-dd" :picker-options="pickerOptions" @@change="searchDateChange"></el-date-picker>
                    </li>
                </ul>
                <div class="btn-container">
                    <el-button v-auth="['@(Model.ModelVariableName).modify']" class="btn-item" type="primary" size="small" icon="el-icon-plus" @@click="modify()">添加</el-button>
                    <el-button v-auth="'@(Model.ModelVariableName).delete'" class="btn-item" type="danger" size="small" icon="el-icon-delete" @@click="del">删除</el-button>
                </div>
            </div>
            <el-table v-loading="listLoading" ref="table" :data="pageListData" border fit style="width: 100%;" height="calc(100vh - 280px)" @@sort-change="sortChange" @@selection-change="changeSelectItem">
                <el-table-column type="selection" width="40" fixed="left"></el-table-column>
                @Html.Raw(Model.GenerateIndexTableItems())
                <el-table-column label="操作" width="120" align="center" fixed="right">
                    <template slot-scope="{row}">
                        <el-button type="primary" size="mini" @@click="show(row.Id)">查看</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <Pagination v-show="total>0" :total="total" :currentpage="pageQuery.PageInfo.PageIndex" :pagesize.sync="pageQuery.PageInfo.PageSize" @@current-change="changePageIndex" @@size-change="changePageSize" />
        </page-main>

    </div>
</template>

<script>
import { apiGet@(Model.ModelName)PageList, apiDelete@(Model.ModelName)ByIds } from "@@/api/@(Model.TableInfo.VueModuleName)/@(Model.ModelVariableName)";

export default {
    data() {
        return {
            pageListData: [],
            pageListSelectData: [],
            total: 0,
            listLoading: true,
            pageQuery: {
                PageInfo: {
                    PageIndex: 1,
                    PageSize: 20,
                },
            },
            searchRangeDate: "",
            pickerOptions: {
                shortcuts: [
                    {
                        text: "最近一周",
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit("pick", [start, end]);
                        },
                    },
                    {
                        text: "最近一个月",
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit("pick", [start, end]);
                        },
                    },
                    {
                        text: "最近三个月",
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit("pick", [start, end]);
                        },
                    },
                    {
                        text: "最近半年",
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 180);
                            picker.$emit("pick", [start, end]);
                        },
                    },
                    {
                        text: "最近一年",
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 360);
                            picker.$emit("pick", [start, end]);
                        },
                    },
                ],
            },
        };
    },
    created() {
        this.getPageList();
    },
    methods: {
        getPageList() {
            this.listLoading = true;
            apiGet@(Model.ModelName)PageList(this.pageQuery)
                .then((res) => {
                    this.listLoading = false;
                    if (res.code === 200) {
                        this.pageListData = res.data;
                        this.total = res.total;
                    } else {
                        this.$message.error(res.msg);
                    }
                })
                .catch(() => {
                    this.listLoading = false;
                });
        },
        modify(id) {
            if (!id) {
                id = 0;
            }
            this.$router.push({
                path: "edit",
                query: { id: this.$base64.EnCode(id) },
            });
        },
        show(id) {
            this.$router.push({
                path: "show",
                query: { id: this.$base64.EnCode(id) },
            });
        },
        del() {
            var ids = [];
            this.pageListSelectData.forEach((item) => {
                ids.push(item.Id);
            });
            if (ids.length < 1) {
                this.$message.warning("请先选择需要删除的数据！");
                return;
            }

            this.$confirm("确定删除选中的数据吗？", "提示", {
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                type: "warning",
            })
                .then(() => {
                    apiDelete@(Model.ModelName)ByIds(ids.join(","))
                        .then((res) => {
                            if (res.code === 200) {
                                this.$message.success(res.msg);
                                this.pageQuery.PageInfo.PageIndex = 1;
                                this.getPageList();
                            } else {
                                this.$message.error(res.msg);
                            }
                        })
                        .catch(() => {
                            //this.$message.error("远程通讯失败");
                        });
                })
                .catch(() => {});
        },
        searchDateChange(val) {
            if (!val) {
                this.pageQuery.CreatedDate = "";
                this.pageQuery.PageInfo.PageIndex = 1;
                this.getPageList();
            } else {
                if (val.length == 2) {
                    this.pageQuery.CreatedDate = val[0] + ";" + val[1];
                    this.pageQuery.PageInfo.PageIndex = 1;
                    this.getPageList();
                }
            }
        },

        sortChange(data) {
            this.pageQuery.PageInfo.PageIndex = 1;
            if (data.order != null) {
                let orderColumn = data.prop + "";
                let columnMap = new Map();
                columnMap.set("CreatedDate1", "CreatedDate");
                if (columnMap.has(data.prop)) {
                    orderColumn = columnMap.get(data.prop);
                }
                this.pageQuery.PageInfo.orderBy = orderColumn + " " + data.order.replace("ending", "");
            } else {
                delete this.pageQuery.PageInfo["orderBy"];
            }
            this.getPageList();
        },
        //行选中
        changeSelectItem(val) {
            this.pageListSelectData = val;
        },
        changePageIndex(index) {
            this.pageQuery.PageInfo.PageIndex = index;
            this.getPageList();
        },
        changePageSize(size) {
            this.pageQuery.PageInfo.PageSize = size;
            this.getPageList();
        },
    },
};
</script>